@page
@model IndexModel

@{
     ViewData["Title"] = "Welcome ! 🤖";
}

<h2>WELCOME TO OUR PROJECT</h2>

<h2>FANET: Seamless Coverage Strategies</h2>

<h3>Bạn biết cách sử dụng chưa?????</h3>
<div>Bước 1: Nhập dữ liệu UAV bằng file .json</div>
<div>Bước 2: Chọn chiến lược bao phủ phù hợp</div>
<div>Bước 3: Nhận bảng so sánh thống kê</div>

<a asp-area="" asp-page="/AddObject">Start now!!</a>